/* extends */
/* % = placeholder */

/* 
Se utiliza para modificar los iconos y txt del navtop y el pie*/

%flex{
    display: flex;
    justify-content: center;
    align-items: center;
  
    text-align: center;
    color:white;
    font-size: 1em;
}

%fabi{ justify-content: center;
    align-items: center;
  
    text-align: center;
    color:rgb(4, 166, 216);
    font-size: 2em;
    
}

.icono{@extend %fabi;}



%border{
    background-color: rgb(255, 200, 0);
    border: 7px solid rgb(233, 236, 239);
}
.p-5{
    @extend %border;
   
    @extend %flex;
    color:white;
}



